$c1: #4E99E4;
$bg: #F8F8F8;

$f-family: 'Source Sans Pro', sans-serif;
$f-size: 18px;
$f-color: #686868;

$bt-default-background: #B1B1B1;
$bt-default-color: #fff;
$bt-default-border: 1px solid $bt-default-background;

$fo-field-border: none;